<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HybdriPomSuite">
  <test thread-count="5" name="HybridPomTest">
    <classes>
      <class name="org.qa.linkedin.testcase.LinkedinLandingTest"/>
      <class name="org.qa.linkedin.testcase.SearchTest"/>
    </classes>
  </test> <!-- HybridPomTest -->
</suite> <!-- HybdriPomSuite -->
